# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logging
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# DB
.db
.sqlite
.sqlite3

# poetry
poetry.lock

# Environments
.env
.venv
env/
venv/

# Pyre type checker
.pyre/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# VS Code
.vscode/